* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);
    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 15px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    color: var(--grey-500);
}

.section-flex {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

section h1 {
    font-weight: 100;
    font-size: 2.5rem;
    letter-spacing: 0.8px;
}

section h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

section p {
    max-width: 550px;
    margin: 1.5rem;
    font-size: 1.1rem;
    font-weight: 300;
}

.cards {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.cards h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.cards p {
    margin: 0.5rem 0;
    font-size: 0.95rem;
    color: var(--grey-400);
}

section .card {
    background: white;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
    border-radius: 1rem;
    width: 375px;
    height: 300px;
    margin: 3rem 0;
    text-align: start;
    padding: 2.5rem;
}

section .card-1 {
    border-top: 4px solid var(--primary-cyan);
    position: relative;
}

section .card-1 .icon-supervisor {
    position: absolute;
    right: 37.5px;
    bottom: 37.5px;
}

section .card-2 {
    border-top: 4px solid var(--primary-red);
    position: relative;
}

section .card-2 .icon-team-builder {
    position: absolute;
    right: 37.5px;
    bottom: 37.5px;
}

section .card-3 {
    border-top: 4px solid var(--primary-orange);
    position: relative;
}

section .card-3 .icon-karma {
    position: absolute;
    right: 37.5px;
    bottom: 37.5px;
}

section .card-4 {
    border-top: 4px solid var(--primary-blue);
    position: relative;
}

section .card-4 .icon-calculator {
    position: absolute;
    right: 37.5px;
    bottom: 37.5px;
}

@media (max-width: 1250px) {
    .cards {
        gap: 3rem;
    }
    
    section .card {
        margin: 3rem 0;
        width: 325px;
    }
}

@media (max-width: 1150px) {
    .cards {
        flex-direction: column;
    }

    section .card {
        margin: 1rem;
    }

    .cards .card-2 {
        margin-bottom: 2rem;
    }

    section .cards {
        gap: 0;
    }

    section h1 {
        font-size: 2rem;
    }

    section h2 {
        font-size: 2rem;
    }

    .section-p {
        font-size: 0.9rem;
        padding: 0 4rem;
    }
    
}